/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#333 ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    padding: 10px 20px;
    color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el logo */
.logo img {
    width: 100px; /* Ajusta el ancho según tu logotipo */
    height: auto;
}

/* Estilos para la barra de búsqueda */
.search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: black;
}

.content{
    display: flex;
}

video{
    
    margin: 7%;
    border-radius: 7px;
    border: solid black 3px;
}

.video1{
    width: 600px;
    height: auto;

}
.video2{
    width: 338px;
    height:auto
}

.texto{
    display: flex;
    margin-left: 15%;
    text-align: justify;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.tx2{
    margin-left: 40%;
    margin-right: 18%;
    font-size: 30px;
}

header a {
    color:black;
    text-decoration: none;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 1%;


}
.a1{
    margin-left: 3%;
}



